.choiceBtn{
    line-height: 30px;
    width: 150px;
    border-radius: 25px;
    background-color: gold;
}

#gameDiv{
    font-family: 'Brush Script MT', cursive;
    border: 3px, solid;
    border-radius: 25px;
    padding: 10px;
    background-color: pink;
    text-align: center;
    width: fit-content;
}

#playerText{
    color: blue;
}

#computerText{
    color: darkmagenta;
}